-- Build the EPL Table then populate with rows

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[EPLMatch](
	[Date] [date] NOT NULL,
	[Time] [time](7) NOT NULL,
	[HomeTeam] [nvarchar](50) NOT NULL,
	[AwayTeam] [nvarchar](50) NOT NULL,
	[FullTimeHomeGoals] [int] NOT NULL,
	[FullTimeAwayGoals] [int] NOT NULL,
	[FullTimeResult] [nchar](1) NOT NULL,
	[HalfTimeHomeGoals] [int] NOT NULL,
	[HalfTimeAwayGoals] [int] NOT NULL,
	[HalfTimeResult] [nchar](1) NOT NULL,
	[Referee] [nvarchar](50) NOT NULL,
	[HomeShots] [int] NOT NULL,
	[AwayShots] [int] NOT NULL,
	[HomeShotsOnTarget] [int] NOT NULL,
	[AwayShotsOnTarget] [int] NOT NULL,
	[HomeFouls] [int] NOT NULL,
	[AwayFouls] [int] NOT NULL,
	[HomeCorners] [int] NOT NULL,
	[AwayCorners] [int] NOT NULL,
	[HomeYellowCards] [int] NOT NULL,
	[AwayYellowCards] [int] NOT NULL,
	[HomeRedCards] [int] NOT NULL,
	[AwayRedCards] [int] NOT NULL,
	[MatchId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_EPLMatch] PRIMARY KEY CLUSTERED 
(
	[MatchId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO


			
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION

PRINT(N'Add 288 rows to [dbo].[EPLMatch]')
SET IDENTITY_INSERT [dbo].[EPLMatch] ON
INSERT INTO [dbo].[EPLMatch] ([MatchId], [Date], [Time], [HomeTeam], [AwayTeam], [FullTimeHomeGoals], [FullTimeAwayGoals], [FullTimeResult], [HalfTimeHomeGoals], [HalfTimeAwayGoals], [HalfTimeResult], [Referee], [HomeShots], [AwayShots], [HomeShotsOnTarget], [AwayShotsOnTarget], [HomeFouls], [AwayFouls], [HomeCorners], [AwayCorners], [HomeYellowCards], [AwayYellowCards], [HomeRedCards], [AwayRedCards]) VALUES (1, '2019-08-09', '20:00:00.0000000', N'Liverpool', N'Norwich', 4, 1, N'H', 4, 0, N'H', N'M Oliver', 15, 12, 7, 5, 9, 9, 11, 2, 0, 2, 0, 0)
INSERT INTO [dbo].[EPLMatch] ([MatchId], [Date], [Time], [HomeTeam], [AwayTeam], [FullTimeHomeGoals], [FullTimeAwayGoals], [FullTimeResult], [HalfTimeHomeGoals], [HalfTimeAwayGoals], [HalfTimeResult], [Referee], [HomeShots], [AwayShots], [HomeShotsOnTarget], [AwayShotsOnTarget], [HomeFouls], [AwayFouls], [HomeCorners], [AwayCorners], [HomeYellowCards], [AwayYellowCards], [HomeRedCards], [AwayRedCards]) VALUES (2, '2019-08-10', '15:00:00.0000000', N'Bournemouth', N'Sheffield United', 1, 1, N'D', 0, 0, N'D', N'K Friend', 13, 8, 3, 3, 10, 19, 3, 4, 2, 1, 0, 0)
INSERT INTO [dbo].[EPLMatch] ([MatchId], [Date], [Time], [HomeTeam], [AwayTeam], [FullTimeHomeGoals], [FullTimeAwayGoals], [FullTimeResult], [HalfTimeHomeGoals], [HalfTimeAwayGoals], [HalfTimeResult], [Referee], [HomeShots], [AwayShots], [HomeShotsOnTarget], [AwayShotsOnTarget], [HomeFouls], [AwayFouls], [HomeCorners], [AwayCorners], [HomeYellowCards], [AwayYellowCards], [HomeRedCards], [AwayRedCards]) VALUES (3, '2019-08-10', '15:00:00.0000000', N'Burnley', N'Southampton', 3, 0, N'H', 0, 0, N'D', N'G Scott', 10, 11, 4, 3, 6, 12, 2, 7, 0, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[EPLMatch] OFF
COMMIT TRANSACTION
GO
